/* Font Face: Roboto (Google Fonts) */
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff2');
    font-weight: 400, 700;
    font-style: normal;
    font-display: swap;
}
/* custom */
@font-face {
    font-family: test;
    src: url("../public/coves-typeface/Coves\ Bold.otf");
}

:root {
    --one-block-size: calc(100vw / 28);
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    font-family: 'Roboto', system-ui, sans-serif;
    /* font-family: test; */
    /* smoothing the font */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* smooth scroll */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

/* must have a parent container which have a dynamic width and height */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    /* background-color: aqua; */
}
.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: bisque; */
    /* border: 2px solid red; */
    z-index: 2;
}
#sec {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background-color: #f8f8f8;
    /* opacity: 0.4; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.work {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    /* background-color: #f8f8f8; */
    /* opacity: 0.4; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: calc(100vw / 3);
    /* font-size: calc(var(--one-block-size) * 9); */
    /* letter-spacing: calc(var(--one-block-size) * (-0.5)); */
    color: rgba(0, 0, 0, 0.10);
    /* transform: scaleY(1.75); */
}




.projects {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    background-color: transparent;
    /* background-color: #f8f8f8; */
    /* opacity: 0.4; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 30px; */
    padding: calc(var(--one-block-size) * 2) 0;
}
.projects_lines {
    /* width: clamp(500px, 55vw, 1095px); */
    /* width: 55vw; */
    width: calc(var(--one-block-size) * 16);
    /* max-width: 1095px; */ 
    /* width: clamp(50%, 55%, 100%); */
    /* background-color: aqua; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* gap: 100px; */
    gap: calc(var(--one-block-size) * 2);
    /* background-color: aqua; */
    /* border: 1px solid orange; */
}

.project_container:nth-of-type(odd) {
    margin-top: calc(var(--one-block-size) * 2 - 8px);
}
.list_num {
    font-size: calc(var(--one-block-size) * 0.33);
}
.list_img_cont {
    /* width: 327px;
    height: 186px; */
    width: calc(var(--one-block-size) * 6.5);
    height: calc(var(--one-block-size) * 3.75);
}
.list_title {
    font-size: calc(var(--one-block-size) * 0.45);
}

@media (max-width: 768px) {
    /* html, body {
        background-color: brown;
    } */
    :root {
        --one-block-size: calc(100vw / 15);
    }
    .projects_lines {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .list_num {
        display: none;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--one-block-size) / 2);
        padding: calc(var(--one-block-size) / 4);
    }
    .list_title {
        font-size: calc(var(--one-block-size) * 0.75);
        max-width: 50%;
    }
}

/* Tablet view: 577px to 768px */
@media (min-width: 769px) and (max-width: 1025px) {
    /* html, body {
        background-color: cadetblue;
    } */
    :root {
        --one-block-size: calc(100vw / 22);
    }
    /* .projects_lines {
        width: calc(var(--one-block-size) * 16);
        gap: calc(var(--one-block-size) * 2);
    }
    .list_num {
        font-size: calc(var(--one-block-size) * 0.33);
    }
    .list_img_cont {
        width: calc(var(--one-block-size) * 6.5);
        height: calc(var(--one-block-size) * 3.75);
    }
    .list_title {
        font-size: calc(var(--one-block-size) * 0.45);
    } */
}
